.App {
    text-align: center;
    margin: 20px;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  form div {
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
  }
  
  li {
    background-color: black;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }